

header{
    background-color: rgb(0, 0, 0);
    display: table;
    width: 100%;
}

.logo-site{
    float:left;
    margin: 0 0 0 125px;
}

.logo-site img{
    float:left;
    max-width: 275px;
}



nav{
    float: right;
    margin: 0 130px 0 150px;
}

nav li{
    display: inline-block;
    margin: 65px 0 0 40px;
}

nav a {
	text-transform: uppercase;
    font-family: Helvetica;
	color: #ffffff;
	font-size: 27px;
	text-decoration: none;
}

nav a:hover {
	color: #818181;
}

main {
    background-color: #CCCCCC;
    
}
.principal {
    background: #CCCCCC;
    padding: 20px;
    text-align: center;
}

main img{
width: 100%;

}



footer {
	text-align: center;
	background: url("bg.jpg");
	padding: 40px 0;
}

.copyright {
	color: #000000;
	font-size: 15px;
	margin: 20px 0 0;
}

footer img {
   width: 300px;
   margin: -50px;

}